body {background-image: url("../img/fondo.png");}
.fondotx {background-image: url("../img/fondotx.jpg")}
.fondotx2 {background-image: url("../img/background.sky.jpg")}
.backcolor {background-image: linear-gradient(to bottom, rgb(218, 26, 244) ,rgb(123, 22, 246));}
.backcolor2 {background-image: linear-gradient(to bottom,rgb(81, 231, 231), rgb(22, 99, 45));}
h1 {color:aqua;}